<section class="hero-goods {{ mod }}" style="background: url({{ url }}) no-repeat center;   background-size: cover;">
    <div class="hero-goods__title">
            <h1>{{ title }}</h1>
            <p class="hero-goods__desc {{ class }}">{{ desc }}</p>
    </div>

</section>