<section class="hero" style="background: url(../images/hero.jpg) no-repeat center;
    background-size: cover;">
    <div class="container container--hero-slide">
        <div class="hero__wrap">
            <div class="hero__slider">
                <div class="hero__slider-wrap">
                    <section class="slider container--hero">
                        <div class="slider__wrap">
                            <div class="swiper-container swiper-hero swiper-container--hero-tablet">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide swiper-slide--justify">
                                        {% for hero in heroSlide %}
                                            <img class="swiper__img" src="{{ hero.img }}" alt="{{ hero.alt }}">
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="hero__card-wrap">
                <div class="hero__card">
                    <h1 class="hero__title">{{ title }}</h1>
                    <h2 class="hero__title-desc">{{ titelDesc }}</h2>
                    <p class="hero__desc">{{ desc }}</p>
                    {% include '../components/btn-link.twig' with
                        {
                            modWrap : 'btn-link--brown-wrap',
                            mod : 'btn-link--brown',
                            link : 'В каталог',
                        }
                    %}
                </div>
            </div>
        </div>
    </div>
</section>