<div class="container container--header">
    <header class="header">
        <nav class="nav">
            <ul class="nav__list hide-tablet">
                {% for navItem in navList %}
                    <li class="nav__item">
                        <a href="{{ navItem.link }}" class="nav__link {{ navItem.modifier }}">{{ navItem.caption }}</a>
                    </li>
                {% endfor %}
            </ul>
            <div class="nav__logo">
                <a href="#" class="nav__link nav__link-logo">
                    {% include '../components/img.twig' with {
                        'title' : 'Torwood',
                        'mobile_src' : 'images/logo-mobile.png',
                        'src' : 'images/logo.png',
                        'responsive' : true,
                        'class' : 'picture',
                    } %}

                </a>
            </div>
            <ul class="nav__list nav__list--around hide-tablet">
                {% for navItem in navList2 %}
                    <li class="nav__item">
                        <a href="{{ navItem.link }}" class="nav__link {{ navItem.modifier }}">{{ navItem.caption }}</a>
                    </li>
                {% endfor %}
            </ul>
            <div class="nav-mobile-menu">
                <ul class="nav-mobile-menu__list">
                    {% for navItem in navList3 %}
                        <li class="nav-mobile-menu__item">
                            <a href="{{ navItem.link }}"
                               class="nav__link nav__link--mobile {{ navItem.modifier }}">{{ navItem.caption }}</a>
                        </li>
                    {% endfor %}
                </ul>
                {% include '../components/social-links.twig' with
                    {
                        'socialList' : [
                        {
                            'caption' : 'telegram',
                            'modifier' : 'social-links__link--tg',
                        },
                        {
                            'caption' : 'instagram',
                            'modifier' : 'social-links__link--inst',
                        },
                        {
                            'caption' : 'vk',
                            'modifier' : 'social-links__link--vk',
                        },
                        {
                            'caption' : 'youtube',
                            'modifier' : 'social-links__link--youtube',
                        },
                    ],
                    } %}
            </div>

            <div class="nav__btn-wrap hide-desktop">
                <a href="#"><img src="images/calculator.svg" alt="Калькулятор"></a>
            </div>
            <button class="nav__button js-menu-toggle hide-desktop">
                <span class="visually-hidden">Открыть меню</span>
                <span class="nav__button-burger"></span>
            </button>
        </nav>
    </header>
</div>